body {
    height: 100vh;
    width: 100vw;
}

header {
    height: 10%;
}

main {
    height: 90%;
}

.canvasBox {
    display:flex;
    justify-content: center;
    align-items: center;
}

.block {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.block > canvas {
    width: 256px;
    height: 256px;
}

.zoom {
    display: flex;
    height: 100%;
    margin-left: 10px;
    flex-direction: column;
    justify-content: start;
    padding-top: 64px;
}

.zoom canvas {
    height: 64px;
    width: 64px;
}